
$grayColor: #333;
$primary-color: #ff9f0d;
$secondary-color: #fff;
$secondaryFont: "Great Vibes";
$background-color: #0d0d0d;
$interFont: "Inter", sans-serif;
$gray2color: #4F4F4F;
$grayOldPrice: #828282;

