@use "./constants" as *;

@mixin text(
  $color: null,
  $font-size: 16px,
  $font-weight: 400,
  $line-height: 24px,
  $font-family: Helvetica
) {
  color: $color;
  font-size: $font-size;
  line-height: $line-height;
  font-weight: $font-weight;
  font-family: $font-family;
}

@mixin button($width, $height, $btn-back, $border: $primary-color 1px solid) {
  @include text($secondary-color, 16px);
  border-radius: 30px;
  width: $width;
  height: $height;
  background-color: $btn-back;
  border: $border;
}

@mixin flexbox(
  $flex-direction: null,
  $justify-content: null,
  $align-items: null,
  $flex-wrap: null,
  $gap: null
) {
  display: flex;
  flex-direction: $flex-direction;
  flex-wrap: $flex-wrap;
  justify-content: $justify-content;
  align-items: $align-items;
  gap: $gap;
}
