@use "./mixins" as *;
@use "./constants" as *;
@use "./resets" as *;
@use "./shop-style.scss" as *;

.return{
    margin-bottom: -80px;
    &__container{
        max-width: 1220px;
    }
    &__content{
        @include flexbox($align-items: center);
        height: 200px;
    }
}