@charset "UTF-8";

:root {
  --cardImageUrl: "../img/shop/cards/card_image1.png";
}

* {
  margin: 0;
  padding: 0;
  max-width: 100%;
  max-height: 100%;
  box-sizing: border-box;
  color: white;
  font-family: Helvetica;
}

body {
  background-color: #0d0d0d;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
  display: inline-block;
}

main {
  display: flex;
  flex-direction: column;
  gap: 120px;
}

.container {
  max-width: 1320px;
  margin: 0 auto;
}

.cursive {
  color: #ff9f0d;
  font-size: 32px;
  line-height: 40px;
  font-weight: 400;
  font-family: "Great Vibes";
  margin-bottom: 8px;
}

.heading {
  color: white;
}
.heading span {
  color: #ff9f0d;
}

.text {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  font-family: Helvetica;
}

.btn {
  color: #fff;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  font-family: Helvetica;
  border-radius: 30px;
  width: 190px;
  height: 60px;
  background-color: #ff9f0d;
  border: none;
}

.primary {
  color: #ff9f0d;
}

.footer {
  padding-top: 120px;
}
.footer__heading {
  padding: 0 75px;
  margin-bottom: 65px;
}
@media screen and (max-width: 550px) {
  .footer__heading {
    padding: 0;
  }
}
.footer__heading__first-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
}
.footer__heading__second-row {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  font-family: Helvetica;
  padding-bottom: 61px;
  border-bottom: #ff9f0d 1px solid;
}
.footer__title {
  color: #fff;
  font-size: 32px;
  line-height: 40px;
  font-weight: 700;
  font-family: Helvetica;
}
.footer__subscribe {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 459px;
  border-radius: 4px;
  width: 100%;
  background-color: #ff9f0d;
}
.footer__subscribe input {
  font-family: "Inter", sans-serif;
  background-color: #ff9f0d;
  border: none;
  padding: 16px 20px;
  border-radius: 4px;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  font-family: Helvetica;
  outline: none;
  font-family: Helvetica;
}
.footer__subscribe input::placeholder {
  color: #fff;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  font-family: Helvetica;
}
.footer__subscribe-btn {
  color: #ff9f0d;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  font-family: Helvetica;
  border: none;
  background-color: #fff;
  font-family: "Inter", sans-serif;
  padding: 16px 24px;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.3s ease;
}
@media screen and (max-width: 450px) {
  .footer__subscribe {
    width: 190px;
  }
  .footer__subscribe input {
    padding: 16px 0;
  }
}
.footer__main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 50px;
}
.footer__aboutAndLinks {
  width: 590px;
  display: flex;
  justify-content: space-between;
  gap: 15px;
}
.footer__about {
  display: flex;
  flex-direction: column;
  max-width: 312px;
  width: 100%;
}
.footer__about-heading {
  color: #fff;
  font-size: 24px;
  line-height: 32px;
  font-weight: 700;
  font-family: Helvetica;
  margin-bottom: 24px;
}
.footer__about p {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  font-family: "Inter", sans-serif;
  margin-bottom: 34px;
}
.footer__openHoures {
  display: flex;
  gap: 16px;
}
.footer__openHoures h5 {
  color: #fff;
  font-size: 18px;
  line-height: 26px;
  font-weight: 400;
  font-family: "Inter", sans-serif;
}
.footer__openHoures__heading-text-time {
  color: #fff;
  font-size: 14px;
  line-height: 22px;
  font-weight: 400;
  font-family: "Inter", sans-serif;
}
.footer__clockIcon {
  width: content;
}
.footer__helpAndPost {
  display: flex;
  justify-content: space-between;
  gap: 15px;
  width: 533px;
}
.footer__links-block {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.footer__links-heading {
  color: #fff;
  font-size: 24px;
  line-height: 32px;
  font-weight: 700;
  font-family: Helvetica;
}
.footer__links {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.footer__link {
  color: #fff;
  font-size: 20px;
  line-height: 28px;
  font-weight: 400;
  font-family: "Great Vibes";
}
.footer__post {
  padding-right: 10px;
}
.footer__post-heading {
  color: #fff;
  font-size: 24px;
  line-height: 32px;
  font-weight: 700;
  font-family: Helvetica;
}
.footer__post__cards {
  display: flex;
  flex-direction: column;
  gap: 14px;
}
.footer__post__card {
  display: flex;
  align-items: center;
  gap: 16px;
}
.footer__post__card-img {
  width: content;
}
.footer__post__card-date {
  color: gray;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  font-family: "Inter", sans-serif;
}
.footer__post__card-slogan {
  color: #fff;
  font-size: 18px;
  line-height: 26px;
  font-weight: 400;
  font-family: Helvetica;
}
@media screen and (max-width: 1173px) {
  .footer__helpAndPost {
    max-width: 590px;
    width: 100%;
  }
  .footer__post-heading {
    text-align: end;
  }
  .footer__post__card-text {
    display: flex;
    flex-direction: column;
    align-items: end;
  }
}
.footer__copyright {
  background-color: #ff9f0d;
}
.footer__copyright_gray {
  background-color: #4F4F4F;
}
.footer__copyright-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
  padding: 38px 0;
}
.footer__copyright-text {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  font-family: "Inter", sans-serif;
}
.footer__copyright-links {
  display: flex;
  align-items: end;
  gap: 14px;
  padding-right: 14px;
  height: content;
}
.footer__copyright-link {
  background-color: #fff;
  border-radius: 2px;
}
.footer__copyright-link1 {
  padding: 0 13px;
  padding-top: 8.5px;
  padding-bottom: 7.5px;
}
.footer__copyright-link2 {
  padding: 0 10px;
  padding-top: 8.5px;
  padding-bottom: 7.5px;
}
.footer__copyright-link3 {
  padding: 0 11px;
  padding-top: 8.5px;
  padding-bottom: 8px;
}
.footer__copyright-link4 {
  padding: 0 9px;
  padding-top: 8px;
  padding-bottom: 8px;
}
.footer__copyright-link5 {
  padding: 0 10px;
  padding-top: 8.5px;
  padding-bottom: 8.5px;
}
@media screen and (max-width: 1185px) {
  .footer__main {
    justify-content: center;
    gap: 30px;
  }
}

.mask {
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.4235294118);
  position: fixed;
  top: 0;
  z-index: 100;
  transition: 0.6s;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader {
  width: 75px;
  height: 75px;
  border: 10px, solid, rgba(255, 159, 13, 0.4);
  border-radius: 50%;
  border-left-color: #ff9f0d;
  animation: loader 1s linear infinite;
}

@keyframes loader {
  100% {
    transform: rotate(360deg);
  }
}

.header__content {
  display: flex;
  justify-content: space-between;
  padding: 29px 0;
}
.header__logo {
  color: #fff;
  font-size: 24px;
  line-height: 32px;
  font-weight: 700;
  font-family: Helvetica;
}
.header__logo span {
  color: #ff9f0d;
}
.header__nav ul {
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
}
.header__menu-item a {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  font-family: Helvetica;
}
.header__menu-item_active {
  color: #ff9f0d;
}
.header__icons {
  display: flex;
  gap: 16px;
}

.shop__main {
  background-color: #fff;
  padding-bottom: 120px;
}

.hideContent {
  display: none;
}

.cardInfo__container {
  background-color: #fff;
  position: relative;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0 15px 35px rgba(50, 50, 93, 0.1), 0 5px 15px rgba(0, 0, 0, 0.07);
  transform: translateY(0);
  transition: all 0.3s ease;
}
.cardInfo__container:hover {
  transform: translateY(-5px);
  box-shadow: 0 20px 45px rgba(50, 50, 93, 0.15), 0 7px 20px rgba(0, 0, 0, 0.1);
}
.cardInfo__btnClose {
  position: absolute;
  right: 10px;
  top: 10px;
  font-size: 30px;
  border: none;
  border-radius: 6px;
  background: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(10px);
  opacity: 0.6;
  transition: all 0.3s ease;
}
.cardInfo__btnClose:hover {
  opacity: 1;
}
.cardInfo__img {
  height: 300px;
  background-image: url(--cardImageUrl);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 20px;
  margin-bottom: 14px;
}
.cardInfo__heading {
  padding: 20px 0;
}
.cardInfo__textContent {
  padding-left: 30px;
}
.cardInfo__cursive {
  color: #4F4F4F;
}
.cardInfo__title {
  color: #ff9f0d;
  font-size: 43px;
  line-height: 43px;
  font-weight: 700;
  font-family: "Inter", sans-serif;
}
.cardInfo__isVegan {
  margin-top: 20px;
  color: #4F4F4F;
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
  font-family: Helvetica;
}
.cardInfo__calories {
  padding-top: 5px;
  padding-bottom: 20px;
  color: #0d0d0d;
  font-size: 2px;
  line-height: 2px;
  font-weight: 400;
  font-family: "Inter", sans-serif;
}
.cardInfo__calories span {
  color: #ff9f0d;
  font-size: 30px;
  line-height: 30px;
  font-weight: 700;
  font-family: "Inter", sans-serif;
}
.cardInfo__price {
  color: #ff9f0d;
  font-size: 60px;
  line-height: 80px;
  font-weight: 400;
  font-family: "Inter", sans-serif;
  width: max-content;
}
.cardInfo__OldPrice {
  width: max-content;
  padding-left: 45px;
  color: #4F4F4F;
  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
  font-family: "Inter", sans-serif;
  text-decoration: line-through;
}
.cardInfo__text {
  margin-top: 20px;
  color: #333;
}
.cardInfo__categories {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 20px 0;
}
.cardInfo__category {
  color: #4F4F4F;
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  font-family: Helvetica;
}
.cardInfo__category::before {
  color: #ff9f0d;
  content: "✓";
  display: inline-block;
  font-weight: bold;
  margin-right: 10px;
  width: 16px;
}
.cardInfo__btnBuy {
  color: #fff;
  font-size: 20px;
  line-height: 0px;
  font-weight: 700;
  font-family: "Inter", sans-serif;
  width: 100%;
  height: 50px;
  background: rgba(255, 159, 13, 0.8);
  border: none;
  border-radius: 10px;
  position: relative;
  overflow: hidden;
}
.cardInfo__btnBuy::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 0;
  height: 0;
  border-radius: 40%;
  z-index: -1;
  background: #ff9f0d;
  transform: translate(-50%, -50%);
  transition: width 0.6s, height 0.6s;
}
.cardInfo__btnBuy:hover:after {
  width: 1300px;
  height: 300px;
}
.cardInfo__btnBuy:active {
  transform: translateY(4px);
}
.cardInfo__btnBuy:active::after {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  background: radial-gradient(circle at center, rgba(255, 255, 255, 0.4) 0%, transparent 70%);
  transition: all 0.15s ease;
}
@keyframes flash {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@media screen and (max-width: 340px) {
  .cardInfo__textContent {
    padding-left: 0px;
  }
  .cardInfo__isVegan {
    color: #4F4F4F;
    font-size: 26px;
    line-height: 36px;
    font-weight: 400;
    font-family: Helvetica;
  }
  .cardInfo__prices {
    margin-top: 20px;
  }
}

.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  height: 320px;
  background-image: url(../img/shop/hero/back.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.hero__title {
  color: #fff;
  font-size: 48px;
  line-height: 56px;
  font-weight: 700;
  font-family: Helvetica;
}
.hero__nav {
  display: flex;
  gap: 4px;
  color: #fff;
  font-size: 20px;
  line-height: 28px;
  font-weight: 400;
  font-family: Helvetica;
}
.hero__icon {
  width: 16px;
  height: 16px;
  display: flex;
  align-self: center;
  justify-content: center;
}

.returnButton {
  display: flex;
  align-items: center;
  gap: 10px;
  border: none;
  background-color: transparent;
  display: flex;
}
.returnButton img {
  width: 60px;
}
.returnButton p {
  color: #ff9f0d;
  font-size: 30px;
  line-height: 30px;
  font-weight: 700;
  font-family: "Inter", sans-serif;
}

.findProduct {
  padding: 0 10px;
}
.findProduct__content {
  display: flex;
  gap: 24px;
}
.findProduct__heading {
  display: flex;
  gap: 33px;
  width: 100%;
  height: 46px;
  margin-bottom: 24px;
}
.findProduct__heading label {
  display: flex;
  align-items: center;
  gap: 15px;
}
.findProduct__heading label p {
  color: #333;
  font-size: 20px;
  line-height: 28px;
  font-weight: 400;
  font-family: "Inter", sans-serif;
}
.findProduct__heading label select {
  width: 236px;
  height: 46px;
  border-radius: 6px;
  color: #bdbdbd;
  font-size: 18px;
  line-height: 26px;
  font-weight: 400;
  font-family: "Inter", sans-serif;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 20 20' fill='none'%3E%3Cpath d='M5 7.5L10 12.5L15 7.5' stroke='%23666' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: right 12px center; /* 12px от правого края */
  background-size: 20px 20px; /* Размер стрелки */
}
.findProduct__heading label select option {
  color: #333;
  font-size: 20px;
  line-height: 28px;
  font-weight: 400;
  font-family: "Inter", sans-serif;
}

.menu {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}
.menu__card {
  box-shadow: 0 15px 35px rgba(50, 50, 93, 0.1);
  transform: translateY(0);
  transition: all 0.3s ease;
}
.menu__card:hover {
  transform: translateY(-5px);
  box-shadow: 0 20px 45px rgba(50, 50, 93, 0.15);
}
.menu__cardImg {
  margin-bottom: 8px;
}
.menu__cardTitle {
  color: #333;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  font-family: "Inter", sans-serif;
  margin-bottom: 4px;
}
.menu__cardTitle .regular {
  font-weight: 400 !important;
}
.menu__cardPrice {
  color: #ff9f0d;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  font-family: "Inter", sans-serif;
  display: inline-block;
}
.menu__cardOldPrice {
  color: #828282;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  font-family: "Inter", sans-serif;
  display: inline-block;
  text-decoration: line-through;
  margin-left: 8px;
}

.filter {
  width: 312px;
  padding: 24px 32px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  border: 1px solid #f2f2f2;
}

.search__input {
  padding: 11px 20px;
  width: 202px;
  border: none;
  background-color: rgba(255, 159, 13, 0.1);
}
.search__input::placeholder {
  color: #828282;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  font-family: "Inter", sans-serif;
  opacity: 1;
}

.category__title {
  color: #333;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  font-family: Helvetica;
}
.category__list {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.category__item {
  display: flex;
  gap: 8px;
}
.category__label {
  color: #333;
  font-size: 18px;
  line-height: 26px;
  font-weight: 400;
  font-family: Helvetica;
}
.category__checkbox {
  accent-color: #ff9f0d;
  width: 18px;
  height: 18px;
  cursor: pointer;
}

.filter__banner {
  background-image: url(../img/shop/filter/perfectTaste.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 29px 23px;
  width: 100%;
  height: 286px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.banner__heading {
  margin-bottom: 13px;
  color: #fff;
  font-size: 20px;
  line-height: 28px;
  font-weight: 700;
  font-family: "Inter", sans-serif;
}
.banner__heading_litle {
  color: #fff;
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
  font-family: "Inter", sans-serif;
  margin-bottom: 4px;
}
.banner__price {
  color: #ff9f0d;
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
  font-family: Helvetica;
}
.banner__link {
  display: flex;
  gap: 8px;
}

.filterBy__heading {
  color: #333;
  font-size: 0px;
  line-height: 28px;
  font-weight: 700;
  font-family: Helvetica;
  margin-bottom: 16px;
}
.filterBy__slider {
  margin-bottom: 8px;
}
.filterBy__footer {
  display: flex;
  justify-content: space-between;
}
.filterBy__footer p {
  color: #4F4F4F;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  font-family: "Inter", sans-serif;
}

.latestProducts {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.latestProducts__heading {
  color: #333;
  font-size: 20px;
  line-height: 28px;
  font-weight: 700;
  font-family: Helvetica;
}
.latestProducts__list {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.latestProducts__card {
  display: flex;
  gap: 15px;
}
.latestProducts__card-heading {
  color: #4F4F4F;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  font-family: Helvetica;
  margin-bottom: 4px;
}
.latestProducts__card-rating {
  display: flex;
  gap: 4px;
}
.latestProducts__card-price {
  color: #4F4F4F;
  font-size: 14px;
  line-height: 22px;
  font-weight: 400;
  font-family: Helvetica;
}

.productTags__heading {
  color: #333;
  font-size: 20px;
  line-height: 28px;
  font-weight: 700;
  font-family: Helvetica;
}
.productTags__links {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}
.productTags__link {
  color: #4F4F4F;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  font-family: Helvetica;
  border-bottom: 1px solid #f2f2f2;
}
.productTags__link_active {
  color: #ff9f0d;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  font-family: Helvetica;
  border-bottom: 1px solid #ff9f0d;
}/*# sourceMappingURL=shop-style.css.map */